{
  "presets": [
    "@babel/preset-env", 
    ["@babel/preset-react",
      {
        "targets": {
          "browsers": [ 
            "defaults",
            "not IE 11",
            "maintained node versions" 
          ]
        },
        //exclude: [ 'transform-regenerator' ],
        "modules": false
      }
    ]
  ]
}
